<footer>
  <p>Page built by <strong>The Speediest Snail Around</strong></p>
  <nav>
    <a href="https://jsfiddle.net/u/stevensharman1/fiddles/" target="_blank">Jsfiddle</a> |
    <a href="https://www.codecademy.com/profiles/stevensharman1" target="_blank">Codecademy</a> |
    <a href="https://validator.w3.org/" target="_blank">HTML Validator</a> |
    <a href="https://jigsaw.w3.org/css-validator/" target="_blank">CSS Validator</a> |
    <a href="https://github.com/stevensharman1/Github-Site.git" target="_blank">Github</a>
  </nav>
</footer>
