<footer>
  <p>Page built by <strong>The Speediest Snail Around</strong></p>
  <nav>
    <a href="https://jsfiddle.net/user/fiddles" target="_blank">JSFiddle</a> |
    <a href="https://www.codecademy.com/profiles/stevensharman1" target="_blank">Codecademy</a> |
    <a href="https://www.freecodecamp.org/Stevensharman1 target="_blank">freeCodeCamp</a> |
    <a href="https://stevensharman1.github.io/web115/index.html" target="_blank">WEB115</a> |
    <a href="https://github.com/stevensharman1" target="_blank">Github</a>
  </nav>
</footer>
